<html>
  <link href="/views/css/order.css" rel="stylesheet" type="text/css">
<body>
  <div id="wrapper">
  <div id="inputs">
  <div>
<center><form name="input" action="#" method="post">
  <h1>Order</h1>
  First name: <input type="text" id='user' name="user" placeholder="John"><br/>
  
  Email:<input type="email" id='email' name="email" placeholder="1234 Street City, ST Zip">
 <br/>
 City:<input type="text" id='city' name="city" placeholder="1234 Street City, ST Zip">
 <br/>
  Street:<input type="text" id='street' name="street" placeholder="1234 Street City, ST Zip">
 <br/>

  <input type="submit" value="Submit" href="#">
</form>
</div>
</div>
</body>
</html>